<div class="login-block">
  <div class="login-center-content">
    <div class="login-item">
      <div class="login-label">
        <label for="userId">User: </label>
      </div>
      <div class="login-input">
        <input type="text" id="userId" [(ngModel)]="userId" placeholder="user name">
      </div>
    </div>
    <div class="login-item">
      <div class="login-label">
        <label for="password">Password: </label>
      </div>
      <div class="login-input">
        <input type="password" id="password" [(ngModel)]="password" placeholder="password">
      </div>
    </div>

    <!-- TEST DATA BINDING -->
    <!-- <div class="login-item">
      <div class="login-label">
        <label for="user">User: </label>
      </div>
      <div>{{userId}}</div>
    </div>
    <div class="login-item">
      <div class="login-label">
        <label for="password">Password: </label>
      </div>
      <div>{{password}}</div>
    </div> -->

    <div class="login-item" *ngIf="message">
      <div class="message">{{message}}</div>
    </div>
    <button (click)=loginAut() class="login-button">Login</button>
  </div>
</div>