<h1>Alticoli disponibili</h1>
<table border=1>
  <caption>Alimentari</caption>
  <thead>
    <tr>
      <th>CodArt</th>
      <th>Descrizione</th>
      <th>Pezzi</th>
      <th>Prezzo</th>
      <th>Attivo</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>{{item.codart}}</td>
      <td>{{item.desc}}</td>
      <td>{{item.unit}}</td>
      <td>{{item.prezzo}}</td>
      <td>{{item.isActive}}</td>
      <td>{{item.date | date}}</td>
    </tr>
  </tbody>
</table>