<h1>Alticoli disponibili {{totalItems}}</h1>
<table border=1>
  <caption>Alimentari</caption>
  <thead>
    <tr>
      <th>CodArt</th>
      <th>Descrizione</th>
      <th>Pezzi</th>
      <th>Prezzo</th>
      <th>Attivo</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | paginate: { itemsPerPage: rowDisplayed, currentPage: pageSelected }">
      <td>{{item.codArt}}</td>
      <td>{{item.descrizione}}</td>
      <td>{{item.pzCart}}</td>
      <td>{{item.prezzo | currency : 'EUR'}}</td>
      <td>{{item.idStatoArt}}</td>
      <td>{{item.dataCreaz | date}}</td>
    </tr>
  </tbody>
</table>
<div class="clearfix">
  <pagination-controls 
    (pageChange)="pageSelected = $event"
    previousLabel="Precedente"
    nextLabel="Successivo"
  >
  </pagination-controls>
</div>