<div class="table-filter">
  <div class="filter-type-block"></div>
  <div class="search-block">
    <input type="text" [(ngModel)]="filter" />
    <button (click)=refreshTable()  class="button-search btn btn-primary btn-sm">
        <img class="img-search" src="/assets/images/search-outline.svg">
    </button>
  </div>
</div>

<h4>Alticoli disponibili {{totalItems}}</h4>
<table style="width:100%" class="table-sm table-striped table-bordered table-hover">
  <caption>Alimentari</caption>
  <thead>
    <tr>
      <th>Articolo ID</th>
      <th>Descrizione</th>
      <th>Pezzi</th>
      <th>Prezzo</th>
      <th>Attivo</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items | paginate: { itemsPerPage: rowDisplayed, currentPage: pageSelected }">
      <td>{{item.codArt}}</td>
      <td>{{item.descrizione}}</td>
      <td>{{item.pzCart}}</td>
      <td>{{item.prezzo | currency : 'EUR'}}</td>
      <td>{{item.idStatoArt}}</td>
      <td>{{item.dataCreaz | date}}</td>
    </tr>
  </tbody>
</table>
<div class="clearfix">
  <pagination-controls 
    (pageChange)="pageSelected = $event"
    previousLabel="Precedente"
    nextLabel="Successivo"
  >
  </pagination-controls>
</div>